{
  "name": "@cognipilot/synapse-fbs",
  "version": "{{ package_version }}",
  "description": "Canonical Synapse FlatBuffers schemas and generated reflection assets for JavaScript and TypeScript",
  "license": "MIT OR Apache-2.0",
  "repository": {
    "type": "git",
    "url": "git+https://github.com/CogniPilot/synapse_fbs.git"
  },
  "homepage": "https://github.com/CogniPilot/synapse_fbs",
  "type": "module",
  "main": "./index.js",
  "types": "./index.d.ts",
  "exports": {
    ".": {
      "types": "./index.d.ts",
      "default": "./index.js"
    },
    "./fbs/*": "./fbs/*",
    "./bfbs/*": "./bfbs/*",
    "./package.json": "./package.json"
  },
  "files": [
    "index.js",
    "index.d.ts",
    "fbs",
    "bfbs",
    "schema.sha256",
    "bfbs.sha256",
    "README.md",
    "LICENSE"
  ],
  "sideEffects": false,
  "publishConfig": {
    "access": "public"
  }
}
