get_filename_component(_SYNAPSE_FBS_ROOT "${CMAKE_CURRENT_LIST_DIR}/../../.." ABSOLUTE)
include("${_SYNAPSE_FBS_ROOT}/cmake/synapse_fbs-cpp-targets.cmake")
unset(_SYNAPSE_FBS_ROOT)

set(synapse_fbs_FOUND TRUE)
