target/
xtask/target/
rust/target/
Cargo.lock
!xtask/Cargo.lock
rust/Cargo.toml
rust/Cargo.lock
rust/src/generated/
build/
install/
/log/
python/synapse/
python/build/
python/dist/
python/pyproject.toml
python/*.egg-info/
__pycache__/
*.py[cod]
