[package]
name = "synapse_fbs"
version = "{{ package_version }}"
edition = "2024"
description = "Generated Rust FlatBuffers bindings for Synapse schemas"
license = "Apache-2.0"
repository = "https://github.com/CogniPilot/synapse_fbs"
include = [
  "Cargo.toml",
  "MCAP.md",
  "examples/**",
  "src/**",
  "cdr/**",
  "fbs/**",
  "bfbs/**",
  "test-vectors/**",
]

[features]
default = []
mcap = ["dep:mcap"]

[dependencies]
flatbuffers = "={{ flatbuffers_version }}"
mcap = { version = "={{ mcap_rust_version }}", optional = true, default-features = false }

[dev-dependencies]
flatbuffers-reflection = "=0.1.0"

[[example]]
name = "validate_mcap"
required-features = ["mcap"]
