import type { IWritable } from '@mcap/core';
import { Reader, TimeBasis, Writer, type TopicChannel } from './mcap.js';

declare const writable: IWritable;
const writer = new Writer({
  writable,
  library: 'type-test',
  sessionId: '0123456789abcdef0123456789abcdef',
  source: 'type-test',
  timeBasis: TimeBasis.MONOTONIC_BOOT,
});
const channel: Promise<TopicChannel> = writer.addTopic('Odometry', 'test/odom');
const reader = new Reader();
reader.append(new Uint8Array());
void channel;
