{
  "name": "synapse_fbs",
  "artifact": {{ artifact | tojson }},
  "release": {{ release_name | tojson }},
  "flatbuffers_version": {{ flatbuffers_version | tojson }},
  "flatbuffers_commit": {{ flatbuffers_commit | tojson }},
  "flatbuffers_build_version": {{ flatbuffers_build_version | tojson }},
  "flatcc_version": {{ flatcc_version | tojson }},
  "flatcc_commit": {{ flatcc_commit | tojson }},
  "schema_sha256": {{ schema_sha256 | tojson }},
  "bfbs_sha256": {{ bfbs_sha256 | tojson }}
}
