{
  "version": {{ version }},
  "schema_set_identity": {{ schema_set_identity|tojson }},
  "schema_package_contract_identity": {{ schema_package_contract_identity|tojson }},
  "legacy_schema_set_hash_128": {{ legacy_schema_set_hash_128|tojson }},
  "mcap": {
    "profile": {{ mcap_profile|tojson }},
    "schema_encoding": {{ mcap_schema_encoding|tojson }},
    "message_encoding": {{ mcap_message_encoding|tojson }},
    "metadata_name": {{ mcap_metadata_name|tojson }},
    "schema_set_hash_key": {{ mcap_schema_set_hash_key|tojson }},
    "schema_set_identity_key": {{ mcap_schema_set_identity_key|tojson }},
    "schema_package_contract_identity_key": {{ mcap_schema_package_contract_identity_key|tojson }},
    "session_id_key": {{ mcap_session_id_key|tojson }},
    "source_key": {{ mcap_source_key|tojson }},
    "time_basis_key": {{ mcap_time_basis_key|tojson }},
    "time_basis_values": [
      {{ mcap_time_basis_monotonic_boot|tojson }},
      {{ mcap_time_basis_unix_epoch|tojson }},
      {{ mcap_time_basis_correlated|tojson }}
    ],
    "topic_id_key": {{ mcap_topic_id_key|tojson }}
  },
  "key_prefixes": {
    "cmd": {{ cmd_key_prefix|tojson }},
    "meta": {{ meta_key_prefix|tojson }},
    "liveliness": {{ liveliness_key_prefix|tojson }}
  },
  "topics": [
{%- for topic in topics %}
    {
      "id": {{ topic.id }},
      "name": {{ topic.name|tojson }},
      "key": {{ topic.key|tojson }},
      "root_table": {{ topic.root_table|tojson }},
      "payload_type": {{ topic.payload_type|tojson }},
      "payload_size": {{ topic.payload_size|tojson }},
      "schema_file": {{ topic.schema_file|tojson }},
      "mcap_schema_name": {{ topic.mcap_schema_name|tojson }},
      "mcap_schema_file": {{ topic.mcap_schema_file|tojson }},
      "wire_type": {{ topic.wire_type|tojson }},
      "schema_hash": {{ topic.type_schema_hash|tojson }},
      "schema_artifact_sha256": {{ topic.schema_artifact_sha256|tojson }},
      "legacy_schema_file_hash_128": {{ topic.legacy_schema_file_hash_128|tojson }},
      "fixed_layout": {{ topic.fixed_layout|tojson }},
      "multi_instance": {{ topic.multi_instance|tojson }},
      "scope": {{ topic.scope|tojson }},
      "encoding": {{ topic.encoding|tojson }},
      "description": {{ topic.description|tojson }}
    }{% if not loop.last %},{% endif %}
{%- endfor %}
  ],
  "commands": [
{%- for command in commands %}
    {
      "id": {{ command.id }},
      "name": {{ command.name|tojson }},
      "key": {{ command.key|tojson }},
      "request_type": {{ command.request_type|tojson }},
      "request_schema_hash": {{ command.request_type_schema_hash|tojson }},
      "legacy_request_schema_file_hash_128": {{ command.legacy_request_schema_file_hash_128|tojson }},
      "reply_type": {{ command.reply_type|tojson }},
      "reply_schema_hash": {{ command.reply_type_schema_hash|tojson }},
      "legacy_reply_schema_file_hash_128": {{ command.legacy_reply_schema_file_hash_128|tojson }},
      "request_encoding": {{ command.request_encoding|tojson }},
      "request_size": {{ command.request_size|tojson }},
      "reply_encoding": {{ command.reply_encoding|tojson }},
      "reply_size": {{ command.reply_size|tojson }},
      "description": {{ command.description|tojson }}
    }{% if not loop.last %},{% endif %}
{%- endfor %}
  ]
}
