[package]
name = "synapse_fbs"
version = "{{ package_version }}"
edition = "2024"
description = "Generated Rust FlatBuffers bindings for Synapse schemas"
license = "MIT OR Apache-2.0"
repository = "https://github.com/CogniPilot/synapse_fbs"
include = [
  "Cargo.toml",
  "src/**",
]

[dependencies]
flatbuffers = "={{ flatbuffers_version }}"
